---
import Signboard from '../components/Signboard.astro'
import Layout from '../layouts/Layout.astro'

const page = {
  title: 'SHINKI.NET',
  description:
    'SHINKI.NETへようこそ。ここは、ポートフォリオを管理するガレージサイトや、備忘録をまとめた技術ブログなど、私が運営しているWebサイトの入口となるべく作られたポータルサイトです。',
  schema: [],
}
---

<Layout page={page}>
  <main>
    <Signboard />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100%;
  }
</style>
