---
import Panel from "../components/Panel.astro";
import Sidebar from "../components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";

const page = {
  title      : 'SHINKI.NET',
  description: 'SHINKI.NETへようこそ。ここは、ポートフォリオを管理するガレージサイトや、備忘録をまとめた技術ブログなど、私が運営しているWebサイトの入口となるべく作られたポータルサイトです。',
  schema     : [],
};
---

<Layout page={page}>
  <main>
    <Panel />
    <Sidebar />
  </main>
</Layout>

<style>
  main {
    width   : 100%;
    position: relative;
  }
</style>
