---
import { Image } from 'astro:assets';
import PanelImage from "../assets/forest.jpg";
---

<div class="container">
  <Image src={PanelImage} alt="dawn" class="image"/>
</div>

<style>
  .container {
    width    : 100vw;
    height   : 100vh;
    position : relative;
    top      : 0;
    left     : 0;
    animation: horizontal 1s ease-in-out infinite alternate;
  }
  .image {
    width    : 101vw;
    height   : 101vh;
    position : absolute;
    top      : -1px;
    left     : -2px;
    animation: vertical 1.7s ease-in-out infinite alternate;
  }
  @keyframes horizontal {
    0% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes vertical {
    0% {
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(0px);
    }
  }
</style>
