* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0;
  color: var(--c-text);
  font: 1.4rem / 1.6 var(--f-sans);
  letter-spacing: 0.02em;
  background: radial-gradient(#eceff4 0%, #e5e9f0 50%, #d8dee9 100%);
  overflow-x: hidden;
  @include mq(xxl) {
    height: 100vh;
    font: 1.4rem / 1.6 var(--f-sans);
    overflow: hidden;
  }
}
