:root {
  --f-sans : 'Spica', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  --f-mono : 'Spica', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  --c-text : #4b556a;
  --c-bg   : #e1e5ee;
  --s-neumo: 3px 3px 3px #c7c9cf55, -3px -3px 3px #ffffff44;
  --s-drop : 2.5px 2.5px 1px #4b556a33;
  --s-inner: inset 2.5px 2.5px 1px #4b556a33, 2.5px 2.5px 1px #4b556a33;
}
@font-face {
  font-family : 'Spica';
  src         : url('/fonts/Spica-Regular.woff2') format('woff2');
  font-weight : 400;
  font-style  : normal;
  font-display: swap;
}
@font-face {
  font-family : 'Spica';
  src         : url('/fonts/Spica-Bold.woff2') format('woff2');
  font-weight : 700;
  font-style  : normal;
  font-display: swap;
}
