:root {
  --f-sans: 'Spica', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  --f-mono: 'Spica', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  --c-text: #4b556a;
  --c-bg: #eceff4;
  --s-drop: 3px 3px 1px #c8c9cc;
  --s-inner: inset 3px 3px 1px #c8c9cc;
}
@font-face {
  font-family: 'Spica';
  src: url('/fonts/Spica-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spica';
  src: url('/fonts/Spica-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
